<form action="/upload" method="post" enctype="multipart/form-data">
  <% for i in 1..5 do %>
    <p>
      <input type="file" name="file<%= i %>"/>
      <input type="checkbox" name="nom<%= i %>"/> NOM
    </p>
  <% end %>
  <p><input type="submit" /></p>
</form>

