<form action="/upload" method="post" enctype="multipart/form-data">
  <% for i in 1..5 do %>
    <p>
      <input type="file" name="file<%= i %>"/>
      <p><input type="checkbox" name="nom<%= i %>"/> NOM</p>
      <p><input type="radio" name="sem<%= i %>" value="0"/> Frühling</p>
      <p><input type="radio" name="sem<%= i %>" value="1"/> Herbst</p>
    </p>
  <% end %>
  <p><input type="submit" /></p>
</form>

