<!DOCTYPE html>
<html>
  <head>
    <title>BOLV Nachtmeisterschaft</title>
    <style>
      input:not([type=submit]) {
        float: left;
      }
      p {
        clear: both;
      }
      table {
        border-collapse: collapse;
        border: 1px solid #CCC;
      } 

    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
